# Filendelser
*.[oa]
*~
*.lock
*.bak
*.mwb
*.iml

# Directories #
/build/
/bin/
target/
.idea/
Bosetterne/Bosetterne-service/logs/
Bosetterne/Bosetterne-service/src/main/resources/WebContent/ressurser/packages
Bosetterne/Bosetterne-service/src/main/resources/WebContent/ressurser/dart/packages/



# Package Files #
*.jar
*.war
*.ear
*.db

#JavaScript (just compile dart)
*.map
*.deps

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
