/*
    Document   : text.css
    Created on : 29.sep.2013, 21:29:28
    Author     : espenhoh
    Description:
        Definerer all tekst.
    SELECTORS cheat sheet:
    *{} match all
    h1, h2, h3 {} type selector
    (element).class.(class2) {} klassen(e) (til evt. en type element).
    #id {} id selector
    td>b {} direct child selector
    table b {} decendant selector. Also non direct.


*/

h2, h5, .spillediv {
    margin-left: 10px;
}

h5 {
    margin-bottom: 0px;
}

.spillediv {
    position: relative;
    width: 25%;
    float: left;
    margin-top: 0px;
}

.spilleliste {

    height:10em;
    display: block;
    background-color: burlywood;
}

ul.spilleliste {
    border-style: none;
    list-style-type: none;
    overflow:hidden;
    overflow-y:scroll;
}



.replay {
    width: 0;
    margin: 0 auto;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 30px solid green;
}