/*
    Document   : text.css
    Created on : 29.sep.2013, 21:29:28
    Author     : espenhoh
    Description:
        Definerer all tekst.
    SELECTORS cheat sheet:
    *{} match all
    h1, h2, h3 {} type selector
    (element).class.(class2) {} klassen(e) (til evt. en type element).
    #id {} id selector
    td>b {} direct child selector
    table b {} decendant selector. Also non direct.


*/

h2, h5, .spillediv {
    margin-left: 10px;
}

h5 {
    margin-bottom: 0px;
}

.spillediv {
    position: relative;
    width: 25%;
    float: left;
    margin-top: 0px;
}

.spilleliste {

    height:10em;
    display: block;
    background-color: burlywood;
}

ul.spilleliste {
    border-style: none;
    list-style-type: none;
    overflow:hidden;
    overflow-y:scroll;
}



.replay {
    width: 0;
    margin: 0 auto;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 30px solid green;
}

.star2{
    font-size: 13px;
    margin: 0.45em 0.15em 0.15em auto;
    background: #2c2c2c;
    display: block;
    width: 2em;
    height: 2em;
    position: relative;
}

.star2:before{
    content: "";
    display: block;
    background: #2c2c2c;
    width:2em;
    height: 2em;
    position: absolute;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.star2:after{
    content: "";
    display: block;
    background: #2c2c2c;
    width: 2em;
    height: 2em;
    position: absolute;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.controller {
    font-size: 8px;
    background: #2C2C2C;
    position: relative;
    height: 0.4em;
    width: 0.2em;
    margin-top: -1.2em;
}

.controller::before {
    box-shadow: 2.4em 0em 0 -0.2em #EDEEE8,1.3em 0em 0 -0.2em #EDEEE8,1.4em 0em 0 -0.2em #EDEEE8,1.5em 0em 0 -0.2em #EDEEE8,1.6em 0em 0 -0.2em #EDEEE8,2.3em 0em 0 -0.2em #EDEEE8,2.5em 0em 0 -0.2em #EDEEE8,2.6em 0em 0 -0.2em #EDEEE8,0.5em 0em 0 0 #EDEEE8,-0.5em 0em 0 0 #EDEEE8,0em -0.5em 0 0 #EDEEE8,0em 0.5em 0 0 #EDEEE8,1.1em -0.05em 0 0.95em #2C2C2C,1.759em -0.05em 0 0.95em #2C2C2C,3.2em -0.8em 0 0.2em #2C2C2C,3.2em 0.77em 0 0.2em #2C2C2C;
    top: 1.3em;
    left: -2.1em;
    z-index: 99999;
    height: 0.5em;
    width: 0.5em;
    background: #EDEEE8;
    content: '';
    display: block;
    position: absolute;
}

.controller::after {
    z-index: 1;
    content: "";
    display: block;
    left: 1.9em;
    top: 2em;
    position: absolute;
    background: #EDEEE8;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    box-shadow: -0.8em -0.8em 0 0 #EDEEE8,0.8em -0.8em 0 0 #EDEEE8,0em -1.6em 0 0 #EDEEE8,0em -0.8em 0 1em #2C2C2C,-4em -0.8em 0 1em #2C2C2C;
}