/* 
    Document   : tables
    Created on : 25.sep.2013, 22:25:18
    Author     : espen-pc
    Description:
        Purpose of the stylesheet follows.
*/




table
{
    width: 100%;
    border-color: #600;
    border-collapse: collapse;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

thead {
    background-color : #cccccc;
    font-weight : bold;
    padding : 5px;
}

td
{
    width: 33%;
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 5px;
    background-color: #FFC;
}