{{< ramme}}
{{$ article}}
<h1 id="beskjed">{{beskjed}}</h1>
{{/ article}}
{{$scripts}}
<script src="app/js/dist/hjem.js"></script>
<!--<script>require(['modules/login/login_token']);</script>-->
{{/scripts}}

{{/ ramme}}
