<!doctype html>
<html>
<head>
    <link rel="shortcut icon"
          href="app/favicon.ico.png" />
    <meta charset="utf-8">
    <!--<script src="ressurser/js/CheckDart.js"></script>-->
    <title>{{bosetterne}}</title>
    <link rel="stylesheet" href="../../../../../app/css/sections.css">
    <link rel="stylesheet" href="../../../../../app/css/tables.css">
    <link rel="stylesheet" href="../../../../../app/css/text.css">
    <link rel="stylesheet" href="../../../../../app/css/forms.css">
    {{$csss}}{{/csss}}
</head>
<body>
<header>
    <hgroup>
        <h1>Spill{{#innlogget}}<span class="right">{{loggedin}} <span class="brukernavn">{{spiller.brukernavn}}</span></span> {{/innlogget}}</h1>
    </hgroup>
</header>
<nav>
    <p class="meny"><span>Meny</span><p>
    <ul class="menyliste">
        <li class="meny"><a class="meny" href="/">{{home}}</a></li>
        {{^innlogget}}
            <li class="meny"><a class="meny" href="registrer">{{register}}</a></li>
            <li class="meny"><a class="meny" id="logginn" href="logg_inn">{{login}}</a></li>
        {{/innlogget}}
        {{#innlogget}}
            <li class="meny"><a class="meny" href="">{{bosetterne}}</a></li>
            <li class="meny"><a class="meny" href="historikk">{{historikk}}</a></li>
            <li class="meny"><a class="meny" href="chat.html">{{chat}}</a></li>
            <li class="meny"><a class="meny" id="loggut" href="logg_ut">{{logout}}</a></li>
        {{/innlogget}}
    </ul>
</nav>
<article>
{{$article}}Default tekst{{/article}}
</article>
<footer>
    {{copyright}}
</footer>
{{$scripts}}...{{/scripts}}
</body>
</html>

<!-- " &#034; &quot; -->
<!--  ????; &nbsp; -->
<!-- & &#038; &amp;-->
<!-- < &#060; &lt; -->
<!-- > &#062; &gt; -->

<!--<table>
                <tr>
                  <td class="one">Spanning</td>
                  <td class="two">rows</td>
                  <td rowspan="3" class="three">
                      <table>
                        <tr>
                          <td class="one">Spanning</td>
                          <td class="two">rows</td>
                          <td rowspan="3" class="three">using</td>
                        </tr>
                        <tr>
                          <td class="one">the</td>
                          <td rowspan="2" class="two">rowspan</td>
                        </tr>
                        <tr>
                          <td class="one">attribute</td>
                        </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="one">the</td>
                  <td rowspan="2" class="two">rowspan</td>
                </tr>
                <tr>
                  <td class="one">attribute</td>
                </tr>
            </table>-->