{{< ramme}}

{{$csss}}<link rel="stylesheet" href="/ressurser/css/bosetterne_lobby.css">{{/csss}}
{{$ article}}
    <h2>Lobby</h2>
    <div class="spillediv">
        Innloggede spillere
        <ul class="spilleliste">
            {{#InnloggedeSpillere}}
                <li class="spiller">{{spiller}}</li>
            {{/InnloggedeSpillere}}
        </ul>
    </div>

    <div class="spillediv">
        <table>
            <thead>
            <tr>
                <td class="">Status</td>
                <td class="">Navn</td>
                <td class="">Type</td>
                <td class="">Startet</td>
                <td class="">Avsluttet</td>
            </tr>
            </thead>
            <tbody>
            {{#spillListe}}
                <tr>
                    <td class="">
                        {{^startet}}
                            <div class="star2"></div>
                        {{/startet}}
                        {{#startet}}
                            {{#fullfort}}
                                <div class="replay"></div>
                            {{/fullfort}}
                            {{^fullfort}}
                                <div class="controller"></div>
                            {{/fullfort}}
                        {{/startet}}
                    </td>
                    <td class="">{{navn}}</td>
                    <td class="">{{typeSpill}}</td>
                    <td class="">{{datoFomStr}}</td>
                    <td class="">{{datoTomStr}}</td>
                </tr>
            {{/spillListe}}
            </tbody>
        </table>
    </div>
{{/ article}}
{{$scripts}}<script type="application/dart" src="ressurser/dart/bosetterne.dart"></script>{{/scripts}}

{{/ ramme}}
