{{< ramme}}

{{$csss}}<link rel="stylesheet" href="/ressurser/css/bosetterne_lobby.css">{{/csss}}
{{$ article}}
    <h2>Lobby</h2>
    <div class="spillediv">
        Innloggede spillere
        <ul class="spilleliste">
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
        </ul>
    </div>

    <div class="spillediv">
        Spill
        <ul class="spilleliste">
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
            <li class="spiller">testtekst</li>
        </ul>
    </div>
{{/ article}}
{{$scripts}}<script type="application/dart" src="ressurser/dart/bosetterne.dart"></script>{{/scripts}}

{{/ ramme}}
