{{< ramme}}

{{$csss}}
<link rel="stylesheet" href="/ressurser/css/bosetterne_lobby.css" xmlns="http://www.w3.org/1999/html">{{/csss}}
{{$ article}}
<h2>Spillhistorikk</h2>
<div class="spillediv">
    <table>
        <thead>
            <tr>
                <td class="">Spill</td>
                <td class="">Plassering</td>
                <td class="">Replay</td>
            </tr>
        </thead>
        <tbody>
            {{#historikker}}
                <tr>
                    <td class="">{{spillId}}-{{spill}}</td>
                    <td class="">{{plassering}}</td>
                    <td class="">
                        {{#fullfort}}
                            <div class="replay"></div>
                        {{/fullfort}}
                    </td>
                </tr>
            {{/historikker}}
        </tbody>
    </table>
</div>

{{/ article}}
{{$scripts}}<script type="application/dart" src="ressurser/dart/bosetterne.dart"></script>{{/scripts}}

{{/ ramme}}
