{{< ramme}}
{{$ article}}
<h1 id="beskjed">{{beskjed}}jhk</h1>
{{/ article}}
{{$scripts}}
<script src="app/js/libs/require.js" data-main="app/js/hjem"></script>
<script>require(['modules/login/login_token']);</script>
{{/scripts}}

{{/ ramme}}
