{{< ramme}}
{{$ article}}
<h1 id="beskjed">{{beskjed}}</h1>
{{/ article}}
{{$scripts}}<script data-main="ressurser/js/hjem" src="ressurser/js/libs/require.js"></script>{{/scripts}}

{{/ ramme}}
