{{< ramme}}
        {{$article}}
            <h1 id="loginForAASpille"></h1>

            <form id="frmLogin"
                  enctype="application/x-www-form-urlencoded"
                  method="post"
                  accept-charset="utf-8">
                <label for="sel_scope">Spill:</label>
                <select id="sel_scope" name="sel_scope" class="felter"  size="1" required>
                    <option value="BOSETTERNE" selected>Bosetterne</option>
                    <option value="BYERRIDDER" disabled>Byer og riddere</option>
                    <option value="SJØFARER" disabled>Sjøfarer</option>
                    <option value="SJØOGLAND" disabled>Sjøfarerutvidelsen med byer og riddere</option>
                    <option value="HANDELBARB" disabled>Traders and barbarians ikke planlagt implementert</option>
                    <option value="EXPLPIRAT" disabled>Explorers & Pirates ikke planlagt implementert</option>
                </select>
                <br/>

                <label for="txtBrukerNavn">Brukernavn: </label>
                <input type="text" id="txtBrukerNavn" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,15}$"  name="username" class="felter" value="testbruker" size="15" maxlength="15" autocomplete required autofocus>
                <br/>

                <label for="pass">Passord: </label>
                <input type="password" id="pass" name="password" class="felter" value="test_passord" size="15" maxlength="15" required>
                <br/>

                <input type="hidden" id="redirect_uri" name="redirect_uri" value="/service/hello-world?name=Yay-logget-inn!"/>
                <input type="hidden" id="client_id" name="client_id" value="Bosetterne"/>
                <input type="hidden" id="response_type" name="response_type" value="code"/>
                <input type="submit" id="logg_inn" value="Logg inn">

            </form>
    {{/article}}
    {{$scripts}}
        <script type="application/dart" src="/ressurser/dart/login/login.dart"></script>
        <script src="/ressurser/packages/browser/dart.js"></script>
    {{/scripts}}
{{/ ramme}}