<!doctype html>
<html>
<head>
    <link rel="shortcut icon"
          href="/ressurser/favicon.ico.png" />
    <meta charset="utf-8">
    <script src="ressurser/js/CheckDart.js"></script>
    <title>Bosetterne</title>
    <link rel="stylesheet" href="/ressurser/css/sections.css">
    <link rel="stylesheet" href="/ressurser/css/tables.css">
    <link rel="stylesheet" href="/ressurser/css/text.css">
    <link rel="stylesheet" href="/ressurser/css/forms.css">
</head>
<body>
<header>
    <hgroup>
        <h1>Spill</h1>
    </hgroup>
</header>
<nav>
    <p class="meny"><span>Meny</span><p>
    <ul class="menyliste">
        <li class="meny"><a class="meny" href="/">Hjem</a></li>
        {{^innlogget}}
            <li class="meny"><a class="meny" href="registrer">Registrer</a></li>
            <li class="meny"><a class="meny" href="logg_inn">Logg inn</a></li>
        {{/innlogget}}
        {{#innlogget}}
            <li class="meny" v><a class="meny" href="bosetterne">Bosetterne</a></li>
            <li class="meny"><a class="meny" href="ressurser/chat.html">Chat</a></li>
            <li class="meny"><a class="meny" href="logg_ut">Logg ut</a></li>
        {{/innlogget}}
    </ul>
</nav>
<article>
{{$article}}Default tekst{{/article}}
</article>
<footer>
    All rights reserved © Espen
</footer>

{{$scripts}}...{{/scripts}}
</body>
</html>

<!-- " &#034; &quot; -->
<!--  ????; &nbsp; -->
<!-- & &#038; &amp;-->
<!-- < &#060; &lt; -->
<!-- > &#062; &gt; -->

<!--<table>
                <tr>
                  <td class="one">Spanning</td>
                  <td class="two">rows</td>
                  <td rowspan="3" class="three">
                      <table>
                        <tr>
                          <td class="one">Spanning</td>
                          <td class="two">rows</td>
                          <td rowspan="3" class="three">using</td>
                        </tr>
                        <tr>
                          <td class="one">the</td>
                          <td rowspan="2" class="two">rowspan</td>
                        </tr>
                        <tr>
                          <td class="one">attribute</td>
                        </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="one">the</td>
                  <td rowspan="2" class="two">rowspan</td>
                </tr>
                <tr>
                  <td class="one">attribute</td>
                </tr>
            </table>-->