<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="/ressurser/js/CheckDart.js"></script>
        <title>Bosetterne - Registrering</title>
        <link rel="stylesheet" href="/ressurser/css/sections.css">
        <link rel="stylesheet" href="/ressurser/css/tables.css">
        <link rel="stylesheet" href="/ressurser/css/text.css">
        <link rel="stylesheet" href="/ressurser/css/forms.css">
    </head>
    <body>
        <header>
            <hgroup>
                <h1>Spill</h1>
            </hgroup>
        </header>
        <nav>
            <p class="meny"><span>Meny</span><p>
            <ul class="menyliste">
                <li class="meny"><a class="meny" href="hjem">Hjem</a></li>
                <li class="meny"><a class="meny" href="registrer">Registrer</a></li>
                <li class="meny"><a class="meny" href="logg_inn">Logg inn</a></li>
                {{#loggedIn}}
                    <li class="meny" v><a class="meny" href="bosetterne">Bosetterne</a></li>
                    <li class="meny"><a class="meny" href="/ressurser/chat.html">Chat</a></li>
                {{/loggedIn}}
            </ul>
        </nav>
        <article>
            {{#loggedIn}}<h1 id="tittel">Allerede logget inn</h1>{{/loggedIn}}
            {{^loggedIn}}
                <h1 id="tittel">Registrer deg for tilgang</h1>
                <form id="frmRegister"
                      enctype="application/x-www-form-urlencoded"
                      accept-charset="utf-8"
                      method="post"
                      action="registrer">
                    <label for="txtBrukernavn">Brukernavn:</label>
                    <input type="text" id="txtBrukernavn" name="brukernavn" class="felter" value="{{registrertSpiller.brukernavn}}" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,15}$" size="15" maxlength="15" required autofocus>
                    {{{brukernavnEksisterer}}}
                    <br/>

                    <label for="txtKallenavn">Kallenavn:</label>
                    <input type="text" id="txtKallenavn" name="kallenavn" class="felter" value="{{registrertSpiller.brukernavn}}" size="25" maxlength="25" required>
                    <br/>

                    <label class="farge" for="clrFarge">Ønsket farge:</label>
                    <input type="color" id="clrFarge" name="spillerfarge" class="felter" value="{{registrertSpiller.farge}}" required>
                    {{{fargeEksisterer}}}
                    <br/>

                    <label for="txtEpost">Epost:</label>
                    <input type="email" id="txtEpost" name="epost" class="felter" value="{{registrertSpiller.epost}}" size="25" maxlength="25" required>
                    <span id="epost_fail" class="feilmelding" hidden><strong>Dette er ikke en epost!</strong></span>
                    {{{epostEksisterer}}}
                    <br/>

                    <label for="pass1">Passord:</label>
                    <input type="password" id="pass1" name="passord1" class="felter" value="" size="15" maxlength="15" required>
                    <span id="pass_fail1" class="feilmelding" hidden><strong>Minst 6 tegn i passord!</strong></span>
                    <br/>{{{passordForKort}}}

                    <label for="pass2">Passord (igjen):</label>
                    <input type="password" id="pass2" name="passord2" class="felter" value="" size="15" maxlength="15" required>
                    <span id="pass_fail2" class="feilmelding" hidden><strong>Passordene stemmer ikke overens!</strong></span>
                    <br/> {{{passordMatcherIkke}}}

                    <input id="send_inn" type="submit" value="Send inn">
                </form>
            {{/loggedIn}}
        </article>
        <footer>
            Alle rettigheter © Espen
        </footer>

        <script type="application/dart" src="/ressurser/dart/registrer.dart"></script>
        <script src="/ressurser/packages/browser/dart.js"></script>
    </body>
</html>

<!-- " &#034; &quot; -->
<!--  ????; &nbsp; -->
<!-- & &#038; &amp;-->
<!-- < &#060; &lt; -->
<!-- > &#062; &gt; -->