<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="/ressurser/js/CheckDart.js"></script>
        <title>Bosetterne - Registrering</title>
        <link rel="stylesheet" href="/ressurser/css/sections.css">
        <link rel="stylesheet" href="/ressurser/css/tables.css">
        <link rel="stylesheet" href="/ressurser/css/text.css">
        <link rel="stylesheet" href="/ressurser/css/forms.css">
    </head>
    <body>
        <header>
            <hgroup>
                <h1>Spill</h1>
            </hgroup>
        </header>
        <nav>
            <p class="meny"><span>Meny</span><p>
            <ul class="menyliste">
                <li class="meny"><a class="meny" href="hjem">Hjem</a></li>
                <li class="meny"><a class="meny" href="registrer">Registrer</a></li>
                <li class="meny"><a class="meny" href="logg_inn">Logg inn</a></li>
                {{#loggedIn}}
                    <li class="meny" v><a class="meny" href="bosetterne">Bosetterne</a></li>
                    <li class="meny"><a class="meny" href="/ressurser/chat.html">Chat</a></li>
                {{/loggedIn}}
            </ul>
        </nav>
        <article>
             <h1 id="tittel">Registrering feilet av ukjent årsak</h1>
        </article>
        <footer>
            Alle rettigheter © Espen
        </footer>

        <script type="application/dart" src="/dart/registrer.dart"></script>
        <script src="/ressurser/packages/browser/dart.js"></script>
    </body>
</html>

<!-- " &#034; &quot; -->
<!--  ????; &nbsp; -->
<!-- & &#038; &amp;-->
<!-- < &#060; &lt; -->
<!-- > &#062; &gt; -->